<div class="app-grid">
  <div class="app-width-1-6">
    <strong> <%= model.projectCount %> </strong>
  </div>

  <div class="app-width-1-6">
    <strong> <%= model.eventCount %> </strong>
  </div>
</div>
