<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">فروشگاه</a></li>
          <li><a href="/add-product">افزودن محصول</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/add-user" method="post">
        <label for="title">عنوان محصول</label>
        <input title="title" type="text" name="title" />
        <button type="submit">افزودن محصول</button>
      </form>
    </main>
  </body>
</html>
